<section class="mainbar" data-ng-controller="addworkout as vm">
    <section class="matter">
        <form ng-submit="vm.onSaveWorkout()">
            <div class="container">
                <div class="row">
	                <div class="col-md-6">
                    
	                    <div class="widget wviolet">
	                        <div data-cc-widget-header title="{{vm.title}}"></div>
	                        <div class="widget-content user">
	                            <div class="container-fluid">
	                                <p class="row">
	                                    <label>Workout Name: </label>
								       	<select data-ng-model="vm.workout" 
								       		data-ng-options="w.name for w in vm.workoutNames | orderBy:'name'"
								       		ng-change='vm.onWorkoutChanged()' />
								    </p>
	                                <p class="row">
	                                    <input type="number" ng-show="!vm.show" data-ng-model="vm.workout.result" 
	                                    		placeholder="Enter the result (kg)"
	                                    		name='result_weight'/>
	                                    <label ng-show="!vm.show">kg</label>
	                                </p>
	                                <p class="row">
										<input type="text" ng-show="vm.show" data-ng-model="vm.workout.result_time" 
												placeholder="Enter your result mm:ss" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
												name='result_time'/>
	                                    <label ng-show="vm.show">mm:ss</label>
	                                </p>
	                                <p class="row">
						                <input type="date" name="dob" ng-model="vm.workout.date" placeholder="dd-MM-yyyy" required />
	                                </p>
	                            </div>
	                            <div class="container-fluid">
	                                <button type="submit">Save</button>
	                            </div>
	                        </div>
	                        <div class="widget-foot">
	                            <div class="clearfix"></div>
	                        </div>
	                    </div>
                    </div>
	
	                <div class="col-md-6">
	                    <div class="widget wgray">
	                        <div data-cc-widget-header title="Instructions"></div>
	                           <div class="widget-content text-left text-info">
	                            <div class="container-fluid">
	                                <p class="row">
	                                    How to enter a workout:
								    </p>
	                                <p class="row">
	                                    choose the workout from the dropdown list. if this is a repition-based WOD (e.g. cindy), 
	                                    the result is the <b>number of repititions</b>. For example, if you did "cindy", 10 rounds plus 4 pullups. in this case, the result 
	                                    is the number of total repititions: 10 rounds * 30 (5 pullups, 10 pushups and 15 squats) + 4 = 304.   
								    </p>
	                                <p class="row">
										If it is time-based WOD, the result in format of <b>(minutes):(seconds)</b>, for example 01:12.
								    </p>
	                                <p class="row">
										In the PR results, such as dead-lift, the result in <b>kilograms</b>, where <b>1 lb = 0.45 kg</b>.
								    </p>
	                            </div>
	                        </div>
	                        <div class="widget-foot">
	                            <div class="clearfix"></div>
	                        </div>
	                    </div>
                    </div>

                </div>

            </div>
        </form>
    </section>
</section>
