<section class="mainbar" data-ng-controller="workouts as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
						<div class="row">
							<label>Workout Name: </label>
							<select data-ng-model="vm.workout.name" data-ng-options="w for w in vm.workoutNames" />
						</div>
                        <!-- div class="row">
                            <button ng-click="vm.addWorkout()" class="btn left">Add</button>
                        </div-->
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Result</th>
                                    <th>Date</th>
                                </tr>
                                <tr ng-repeat="workout in vm.workouts">
                                    <td> {{workout.name}} </td>
                                    <td> {{workout.result}} </td>
                                    <td> {{workout.timestamp}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
