cft_calc/.settings/
cft_calc/eclipse-launch-profiles
cft_calc/target/
cft_calc/src/main/webapp/bin/
cft_calc/src/main/webapp/packages/
cft_calc/src/main/webapp/obj/
cft_calc/src/main/webapp/cft-calc.csproj.user
*.classpath
*.project
