*.prefs
*.component
*.launch
*.container
*.name
cft_calc/.settings/.jsdtscope
cft_calc/.settings/org.eclipse.wst.common.project.facet.core.xml
*.jar
cft_calc/target/surefire-reports/TEST-com.ohadr.cftcalc.tests.CalculatorTest.xml
cft_calc/target/surefire-reports/TEST-foo.GuestbookServletTest.xml
cft_calc/target/maven-archiver/pom.properties
cft_calc/target/m2e-wtp/web-resources/META-INF/maven/com.ohadr/cft_calc/pom.xml
cft_calc/target/m2e-wtp/web-resources/META-INF/maven/com.ohadr/cft_calc/pom.properties
cft_calc/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
cft_calc/target/classes/log4j.properties
cft_calc/target/surefire-reports/foo.GuestbookServletTest.txt
cft_calc/target/surefire-reports/com.ohadr.cftcalc.tests.CalculatorTest.txt
cft_calc/target/classes/foo/SignGuestbookServlet.class
cft_calc/target/surefire-reports/TEST-foo.SignGuestbookServletTest.xml
cft_calc/target/classes/foo/GuestbookServlet.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/web/WebController.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/interfaces/IWorkoutMetadataRepository.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/interfaces/IPerson.class
cft_calc/target/surefire-reports/foo.SignGuestbookServletTest.txt
cft_calc/target/classes/com/ohadr/cbenchmarkr/interfaces/IRepository.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/WorkoutMetadataContainer.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/WorkoutMetadata.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/Trainee.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/ResultAndDiff.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/Workout.class
cft_calc/target/classes/com/ohadr/cbenchmarkr/GradesCalculator.class
cft_calc/target/cft_calc-1.0-SNAPSHOT/stylesheets/main.css
cft_calc/target/test-classes/com/ohadr/cftcalc/tests/CalculatorTest.class
cft_calc/target/cft_calc-1.0-SNAPSHOT/secured/trainee.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/secured/user.jsp
cft_calc/target/test-classes/spring-servlet.xml
cft_calc/target/test-classes/foo/GuestbookServletTest.class
cft_calc/target/test-classes/client.properties
*.class
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/passwordRestoreEmailSent.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/login.htm
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/forgotPassword.htm
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/passwordSetSuccess.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/javascript/oauth.js
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/setNewPassword.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/error.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/AccountActivated.htm
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/accountCreatedSuccess.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/index.html
cft_calc/target/cft_calc-1.0-SNAPSHOT/guestbook.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/WEB-INF/web.xml
cft_calc/target/cft_calc-1.0-SNAPSHOT/WEB-INF/spring-servlet.xml
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/accountLocked.htm
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/changePassword.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT/WEB-INF/logging.properties
cft_calc/target/cft_calc-1.0-SNAPSHOT/WEB-INF/cron.xml
cft_calc/target/cft_calc-1.0-SNAPSHOT/login/createAccount.jsp
cft_calc/target/cft_calc-1.0-SNAPSHOT.war
cft_calc/target/cft_calc-1.0-SNAPSHOT/reebok-crossfit.jpg
cft_calc/target/cft_calc-1.0-SNAPSHOT/secured/nespresso.js
cft_calc/target/classes/client.properties
cft_calc/target/cft_calc-1.0-SNAPSHOT/WEB-INF/appengine-web.xml
*.suo
cft_calc/src/main/webapp/bin/
cft_calc/src/main/webapp/packages/
cft_calc/src/main/webapp/obj/
cft_calc/src/main/webapp/cft-calc.csproj.user
