<section class="mainbar" data-ng-controller="adminAddWorkoutMetadata as vm">
    <section class="matter">
        <form ng-submit="vm.onSaveWorkoutMetadata()">
            <div class="container">
                <div class="row">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="{{vm.title}}"></div>
                        <div class="widget-content user">
                            <div class="container-fluid">
                                <p class="row">
                                    <input type="text" data-ng-model="vm.workout.name" placeholder="Enter workout name" required/>
							    </p>
                                <p class="row">
                                    <input type="text" data-ng-model="vm.workout.repetitionBased" placeholder="is it repetition based?" required />
                                </p>
                                <p class="row">
                                    <input type="text" data-ng-model="vm.workout.description" placeholder="Enter workout description" required />
                                </p>
                            </div>
                            <div class="container-fluid">
                                <button type="submit" class="appl-button">Save</button>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>
