<section data-ng-controller="login as vm">
    <div class="login">
        <form ng-submit="vm.loginUser()">
            <h1>Login to the application</h1>
            <p class="row">
                <input type="email" name="login" ng-model="vm.userInfo.userName" placeholder="Enter you Email address" required>
            </p>
            <p class="row">
                <input type="password" name="password" ng-model="vm.userInfo.password" placeholder="Enter your Password" required>
            </p>
            <p class="login-submit pull-right">
                <button type="submit" class="login-button">Login</button>
            </p>
            <p class="forgot-password">
                <a ng-click="vm.fotgotPassword()">Forgot your password?</a>
            </p>
        </form>
    </div>
</section>
﻿<section data-ng-controller="newuser as vm">
    <div class="login">
        <form ng-submit="vm.createUser()">
            <h1>{{vm.title}}</h1>
            <p class="row">
                <input type="email" name="login" ng-model="vm.userInfo.userName" placeholder="Your email" required>
            </p>
            <p class="row">
                <input type="password" name="password" ng-model="vm.userInfo.password" placeholder="Create a password" required>
            </p>
            <p class="row">
                <input type="text" name="firstname" ng-model="vm.userInfo.firstName" placeholder="Your first name" required>
            </p>
            <p class="row">
                <input type="text" name="lastname" ng-model="vm.userInfo.lastName" placeholder="Your last name" required>
            </p>
            <p class="row">
                <button class="button primary button-block" type="submit">Sign up for benchmarkr</button>
            </p>
        </form>
    </div>
</section>
