//<button class="button primary button-block" type="submit">DDD</...>

.form-signup-home .button {
border: 0;
padding-top: 11px;
padding-bottom: 11px;
}

.form-signup-home .button, .form-signup-home dl.form input[type="text"], .form-signup-home dl.form input[type="password"] {
padding: 10px;
font-size: 16px;
border-radius: 5px;
}

.appl-button.signup, 
.button.primary {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #60b044;
background-image: -moz-linear-gradient(#8add6d, #60b044);
background-image: -webkit-linear-gradient(#8add6d, #60b044);
background-image: linear-gradient(#8add6d, #60b044);
background-repeat: repeat-x;
border-color: #5ca941;
}

.today-datas .app_link,
.app_link
{
	padding: 0px;
	height: 93px;	
}

.top_nav_link
{
	margin-top: 10px;
	height: 30px;	
}

.leaderboard-combo
{
	margin: 5px;
}