<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/security 
							http://www.springframework.org/schema/security/spring-security-3.2.xsd
						http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">


	<import resource="spring-social.xml" />
	
	<context:annotation-config />

	<context:property-placeholder location="classpath:client.properties" />
	
	<context:component-scan base-package="com.ohadr.cbenchmarkr" />
	<context:component-scan base-package="com.ohadr.auth_flows" />
	<context:component-scan base-package="com.ohadr.crypto" />
	
	<!--  importing ProviderSignInController. these beans were commented out in spring-social: --> 
	<context:component-scan base-package="org.springframework.social.connect.web" />
	

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!-- dont use debug! https://jira.spring.io/browse/SEC-1885 >
	<sec:debug />
	 -->
	 
	 <!-- if I want to secure HTMLs, I put them in 'secured_resources', and map it to
	 'secured', where 'secured' is secured (in http) - ->
	 <mvc:resources mapping="/secured/**" location="/secured_resources/" />
	 -->
	 
	<sec:http use-expressions="true">
	    <!-- sec:intercept-url pattern="/secured/admin/**" access="ROLE_ADMIN" requires-channel="https"/-->
	    <sec:intercept-url pattern="/secured/admin/**" access="hasRole('ROLE_ADMIN')" />
	    <sec:intercept-url pattern="/secured/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<sec:intercept-url pattern="/login/**" access="permitAll" />
		<sec:intercept-url pattern="/signin/**" access="permitAll" />
	    	    	    
		<sec:anonymous />

		<sec:form-login login-page="/login/login.htm" />

		<!--  Spring Social Security authentication filter   
		<sec:custom-filter ref="socialAuthenticationFilter" before="PRE_AUTH_FILTER" />
    	-->
    	
	</sec:http>

  
	
	<sec:authentication-manager alias="authenticationManager" />

</beans>